.leaflet-tile-pane img{
    -webkit-transition: 0.2s -webkit-filter ease-in-out;
    -moz-transition: 0.2s -moz-filter ease-in-out;
    -moz-transition: 0.2s filter ease-in-out;
    -ms-transition: 0.2s -ms-filter ease-in-out;
    -o-transition: 0.2s -o-filter ease-in-out;
    transition: 0.2s filter ease-in-out, 0.2s -webkit-filter ease-in-out;
}
.tile_dark img{
    filter: invert(90%) grayscale(50%);
}

#map {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#mapid {
    height: 100%;
    z-index: 1;
}

html,
body {
    height: 100%;
}

/* .leaflet-popup-content {
    font-size: 32px;
} */


.examplemodal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f35798;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
}

#content{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    overflow: hidden;
}