.tile_dark img{
    filter: invert(90%) grayscale(50%);
}

#mapid {
    height: 90%;
    z-index: 1;
}

html,
body {
    height: 100%;
}

.leaflet-popup-content {
    font-size: 32px;
}

#darkmode {
    background-color: rgb(90, 90, 90);
    color: white;
}

#lightmode {
    background-color: rgb(187, 187, 187);
    color: black;
}

.my_buttons {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}

.examplemodal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f35798;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
}